<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/img/logo.png" type="image/png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NFT Collection</title>
  <link href="/css/style.css" type="text/css" rel="stylesheet">

  <script src="/js/initialize_header.js"></script>
  <script src="/js/duel_rooms.js"></script>
  <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
  <script src="https://unpkg.com/@tonconnect/sdk@latest/dist/tonconnect-sdk.min.js"></script>
</head>
<body>

  <div id="site-header"></div>

  <div id="content">
    <div class="container">
      <h1>Duels</h1>  <button  id="create-room-btn">Создать дуэль</button>
      <div id="rooms-container"></div>


    </div>
  </div>
</body>
</html>
