<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="icon" href="/img/logo.png" type="image/png">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Friends</title>
  <link href="/css/style.css" rel="stylesheet" />
  <script src="/js/initialize_header.js"></script>
  <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
  <script src="https://unpkg.com/@tonconnect/sdk@latest/dist/tonconnect-sdk.min.js"></script>
  <script src="/js/init_data_href.js"></script>
  <script src="/js/friends.js"></script>
</head>
<body>
<div id="site-header"></div>
<div id="content">
  <div class="container">
    <h1>Friends</h1>

    <div class="friends-container">
      <div class="friends-container" th:if="${invites != null and invites.size() > 0}">
        <p>Bee friends!</p>
        <div th:each="inv : ${invites}" class="friend-card invite" th:attr="data-href=@{'/player'(walletId=${inv.walletId})}" onclick="window.location=this.getAttribute('data-href')">
          <div class="friend-info">
            <img th:src="@{${inv.avatarUrl}}" alt="avatar" />
            <div class="name" th:text="${inv.username}"></div>
            <div class="ammount-nft">amount nft: <span th:text="${inv.amountNft}"></span></div>
          </div>
          <div class="friend-actions">
            <button data-wallet th:attr="data-wallet=${inv.walletId}" data-url="/api/friends/accept">Add friend</button>
            <button data-wallet th:attr="data-wallet=${inv.walletId}" data-url="/api/friends/ignore">Ignore</button>
          </div>
        </div>
      </div>

      <div class="friends-container" th:if="${friends != null and friends.size() > 0}">
        <p>Your Friends</p>
        <div th:each="fr : ${friends}" class="friend-card" th:attr="data-href=@{'/player'(walletId=${fr.walletId})}" onclick="window.location=this.getAttribute('data-href')">
          <div class="friend-info">
            <img th:src="@{${fr.avatarUrl}}" alt="avatar" />
            <div class="name" th:text="${fr.username}"></div>
            <div class="ammount-nft">amount nft: <span th:text="${fr.amountNft}"></span></div>
          </div>
          <div class="friend-actions">
            <button data-wallet th:attr="data-wallet=${fr.walletId}" data-url="/duel/invite">Invite in Duel</button>
          </div>
        </div>
      </div>

      <div th:if="${friends == null or friends.size() == 0}">
        <p>You no have any friends...</p>
      </div>
    </div>

  </div>
</div>
</body>
</html>
