<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="icon" href="/img/logo.png" type="image/png">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Профиль игрока</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />

  <script src="/js/initialize_header.js"></script>
  <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
  <script src="https://unpkg.com/@tonconnect/sdk@latest/dist/tonconnect-sdk.min.js"></script>
  <script type="module" src="/js/init_data_href.js"></script>
</head>
<body>

  <div id="site-header"></div>

  <div id="wrapper">
    <div id="content">
      <section id="player-profile">
        <div class="profile-card">
          <div class="profile-avatar">
            <img id="player-avatar"
                 class="little-circle"
                 th:src="${player.avatarUrl}">
          </div>
          <div class="profile-info">
            <h2 th:text="${player.username}">Username</h2>
            <div class="profile-actions">
              <form th:action="@{/duel/invite}" method="post" onclick="event.stopPropagation();">
                <input type="hidden" name="walletId" th:value="${player.walletId}" />
                <button id="duel-button" type="submit">Propose a duel</button>
              </form>

              <form th:if="${!isHideInviteBtn}"
                    th:action="@{/api/friends/invite}" method="post"
                    onclick="event.stopPropagation();">
                <input type="hidden" name="walletId" th:value="${player.walletId}" />
                <button id="friend-button" type="submit">Add to friends</button>
              </form>
            </div>
          </div>
        </div>

        <div id="inventory-section">
          <h3>
            Inventory
            <span th:text="${#lists.size(player.inventory)}">0</span>
          </h3>
          <div class="inventory-grid">
            <div class="nft-card"
                 th:each="nft : ${player.inventory}"
                 th:attr="data-href=@{'/nft'(id=${nft.id})}">
              <img th:src="${nft.imgUrl}" alt="NFT">
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
</html>
