<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Настройки аккаунта</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />

  <script src="/js/initialize_header.js"></script>
  <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
  <script src="https://unpkg.com/@tonconnect/sdk@latest/dist/tonconnect-sdk.min.js"></script>
  <script type="module" src="/js/settings.js"></script>
</head>
<body>
  <div id="site-header"></div>

  <div id="wrapper">
    <div id="content">
      <section id="account-settings">
        <div class="settings-container">

          <div class="settings-avatar">
 
            <div class="avatar-box">
              <img id="player-avatar"
                   src=""
                   th:src="${player.avatarUrl}"
                   class="avatar-image" />
              <button id="avatar-upload-button" class="btn-upload">Upload a new avatar</button>
              <input id="avatar-file" type="file" accept="image/*" style="display: none;" />
            </div>
          
            <button id="logout-button" th:class="'logout ' + ${logoutDisplay}">Log out</button>
          </div>
      
          
          <div class="settings-list">
            <div class="field-item">
              <label for="nickname">Nickname</label>
              <input type="text" id="nickname" name="nickname" th:value="${player.username}">
            </div>
            <div class="field-item">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" th:value="${player.email}">
            </div>
            <div class="privacy-section">
              <h3>Privacy and Settings</h3>
              <div class="privacy-item">
                <label for="duel-permission">Who can offer me a duel:</label>
                <select id="duel-permission">
                  <option>All</option><option>Friends</option><option>Nobody</option>
                </select>
              </div>
              <div class="privacy-item">
                <label for="friend-permission">Who can add me as a friend:</label>
                <select id="friend-permission">
                  <option>All</option><option>Friends of friends</option><option>Nobody</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="save-container">
          <button id="save-button" class="save">Save</button>
        </div>
      </section>
      
    </div>
  </div>

  <footer class="footer">
    <small>© 2023 — 2025 TN. All rights reserved.</small>
  </footer>

</body>
</html>
